.banner{
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
      
}

.container  {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
        
    max-width:100%;
    margin: auto;
}

.footer {
    background: rgb(233, 225, 225);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    list-style: none;
}
h1{
    font-size:38px;
    line-height:49px;
    margin: 2;
    padding: 2; 
   
}
 h2{
    font-size: 18px;
    line-height: 32px;
}

.editor h3{
    font-size: 12px;
    margin-left: 20px;

}
.main-text p{ 
    margin: 2;
    padding: 2;
    line-height: 22px;
}

button {
    background-color: orange;
    text-align: center;
    margin: auto;
    display: flex;

  
}
.container .form-image .text-block {
    top: 20px;
    background-color: grey;
    color: white;
    text-align: center;
  }

.hand-image {
    border: 1px solid black; 
    width: 650px;
    height: 400px;  
            
}

.hand-image .img {
    border-style:solid;
    border-color: black;
    

}

.responsive{
    max-width: 100%;
    height: auto;
}
